/* 0 - 600PX      = PHONES 
   600 - 900PX    =TABLET IN PORTRAIT
   900 - 1200PX   =TABLET IN LANDSCAPE
   1200 - 1800PX  = NORMAL STYLES
   1800PX+        = BIG DESKTOP
   
   BREAKPOINT ARGUMENT CHOICES 
   - phone
   - tab-port
   - tab-land
   - desktop
   1em == 16px
   */
/*
COLORS:

 #10102c	rgb(16,16,44)
 #342c5c	rgb(52,44,92)
 #67647d	rgb(103,100,125)
 #272d50	rgb(39,45,80)
 #bdc7d8	rgb(189,199,216)

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    -webkit-animation: moveInLeft 2s;
    animation: moveInLeft 2s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    -webkit-animation: moveInRight 2s;
    animation: moveInRight 2s ease-out;
    margin-bottom: 4rem; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #67647d, #342c5c);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.util-center-text {
  text-align: center; }

.util-margin-bottom-lg {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .util-margin-bottom-lg {
      margin-bottom: 5rem !important; } }

.util-margin-bottom-md {
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .util-margin-bottom-md {
      margin-bottom: 3rem !important; } }

.util-margin-bottom-sm {
  margin-bottom: 1.5rem !important; }

.util-margin-top-lg {
  margin-top: 8rem !important; }

.header {
  position: relative;
  height: 95vh;
  background-image: -webkit-linear-gradient(right, #10102c, #342c5c);
  background-image: linear-gradient(to right bottom, rgba(16, 16, 44, 0.8), rgba(52, 44, 92, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (max-width: 75em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); } }
  @media (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 8rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 60rem;
      padding: 0 3rem; } }
  @media (max-width: 25em) {
    .row {
      max-width: 70rem;
      padding: 0 1.5rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #272d50;
  padding: 10rem 0;
  font-size: 1.4rem;
  margin-top: -1px;
  color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 0.1rem solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .3s;
    padding: .3rem; }
  .footer__link:hover, .footer__link:active {
    color: #f7f7f7;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    padding: .3rem;
    border-radius: .5rem;
    transform: translateY(-0.4rem); }
  .footer__copyright {
    width: 85%;
    float: right;
    border-top: 0.1rem solid #777;
    padding-top: 2rem;
    color: #f7f7f7; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.navigation__checkbox {
  display: none; }
.navigation__btn {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 100;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: center; }
  @media (max-width: 56.25em) {
    .navigation__btn {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__btn {
      top: 3rem;
      right: 3rem; } }
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#67647d, #272d50);
  z-index: 20;
  transition: transform .8s; }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 75;
  opacity: 0;
  width: 0;
  transition: all .8s; }
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  z-index: 75; }
.navigation__item {
  margin: 1rem; }
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all .8s; }
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #342c5c;
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }
.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    display: inline-block;
    background-color: #333; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .4s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }
.navigation__btn:hover .navigation__icon::before {
  top: -1rem; }
.navigation__btn:hover .navigation__icon::after {
  top: 1rem; }
.navigation__checkbox:checked + .navigation__btn .navigation__icon {
  background-color: transparent; }
.navigation__checkbox:checked + .navigation__btn .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }
.navigation__checkbox:checked + .navigation__btn .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: translateZ(0); }
  .bubbles li {
    position: fixed;
    list-style: none;
    display: block;
    background-color: rgba(52, 44, 92, 0.2);
    bottom: -20rem;
    animation: square 120s infinite;
    transition-timing-function: linear; }
    .bubbles li:nth-child(1) {
      width: 10rem;
      height: 10rem;
      left: 1%; }
    .bubbles li:nth-child(2) {
      width: 6rem;
      height: 6rem;
      left: 40%;
      animation-delay: 2s;
      animation-direction: 45s; }
    .bubbles li:nth-child(3) {
      width: 1rem;
      height: 1rem;
      left: 46%;
      animation-delay: 5s;
      animation-direction: 70s; }
    .bubbles li:nth-child(4) {
      width: 8rem;
      height: 8rem;
      left: 80%;
      animation-delay: 1s;
      animation-direction: 50s; }
    .bubbles li:nth-child(5) {
      width: 5rem;
      height: 5rem;
      left: 95%;
      animation-delay: 7s;
      animation-direction: 22s; }

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(1080px) rotate(630deg);
    transform: translateY(1080px) rotate(630deg); } }
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 2rem;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer; }
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.5); }
  .btn:hover::after {
    transform: scale(1.1);
    opacity: 0; }
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(1px);
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.5); }
.btn--white {
  background-color: #fff;
  color: #342c5c; }
  .btn--white::after {
    background-color: #fff; }
  .btn--white::after:hover {
    transform: translateY(-0.3rem); }
.btn--dark {
  background-color: #342c5c;
  color: #fff; }
  .btn--dark::after {
    background-color: #342c5c; }
  .btn--dark::after:hover {
    transform: translateY(-0.3rem); }
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }
.btn--animated {
  animation: moveInBottom 2s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #342c5c;
  display: inline-block;
  text-decoration: none;
  padding: .3rem;
  border-bottom: 1px solid #342c5c;
  transition: all .2s; }
.btn-text:hover {
  background-color: #342c5c;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
  border-radius: .3rem; }
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
  transform: translateY(0); }

.compisition {
  position: relative; }
  .compisition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    transition: all .3s; }
    @media (max-width: 56.25em) {
      .compisition__photo {
        float: left;
        position: relative;
        width: 33.33%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .compisition__photo--1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .compisition__photo--1 {
          top: 0;
          transform: scale(1.2); } }
    .compisition__photo--2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .compisition__photo--2 {
          top: -1.5rem;
          transform: scale(1.3); } }
    .compisition__photo--3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .compisition__photo--3 {
          left: 0;
          top: 1.5rem;
          transform: scale(1.1); } }
    .compisition__photo:hover {
      transform: scale(1.25) translateY(-1rem);
      box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.6);
      z-index: 2; }
  .compisition:hover .compisition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: transform .3s;
  will-change: transform; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #67647d, #342c5c);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-2rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    font-size: 2rem;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    height: 50rem;
    transition: all 1.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .card__side--front {
      background-color: #fff;
      color: #000; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background: linear-gradient(to bottom right, #7b6781, #342c5c); }
      .card__side--back-2 {
        background: linear-gradient(to bottom right, #5b4262, #342c5c); }
      .card__side--back-3 {
        background: linear-gradient(to bottom right, #40184a, #342c5c); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to bottom right, #7b6781, #342c5c), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to bottom right, #5b4262, #342c5c), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to bottom right, #40184a, #342c5c), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 80%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(123, 103, 129, 0.85), rgba(52, 44, 92, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(91, 66, 98, 0.85), rgba(52, 44, 92, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(64, 24, 74, 0.85), rgba(52, 44, 92, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 90%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font: 1.4rem;
    text-transform: uppercase; }
  .card__price-vlaue {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: .3rem;
      background: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card:hover .card__side--back {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-vlaue {
        font-size: 4rem; } }

.review {
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: .3rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .review {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .review {
      transform: skewX(0); } }
  .review__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    position: relative;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
    @media (max-width: 37.5em) {
      .review__shape {
        transform: translateX(-3rem) skewX(0); } }
  .review__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s; }
  .review__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .review__text {
        transform: skewX(0); } }
  .review__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .6s; }
  .review:hover .review__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .review:hover .review__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .25;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }
.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  font-family: inherit;
  color: inherit;
  border-radius: .2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: .3rem solid transparent;
  width: 90%;
  display: block; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 0.3rem solid #342c5c; }
    .form__input:focus:invalid {
      border-bottom: .3rem solid orangered; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .5s; }

.section-about {
  background-color: rgba(247, 247, 247, 0.8);
  padding: 25rem;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 5rem 20rem; } }
  @media (max-width: 25em) {
    .section-about {
      text-align: center; } }

.section-features {
  margin-top: -10rem;
  padding: 20rem 0;
  background-image: -webkit-linear-gradient(right, #10102c, #342c5c);
  background-image: linear-gradient(to right bottom, rgba(16, 16, 44, 0.8), rgba(52, 44, 92, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }

.section-tours {
  background-color: rgba(247, 247, 247, 0.7);
  padding: 25rem 0 15rem 0;
  margin-top: -11rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 10rem 0; } }

.section-review {
  position: relative;
  padding: 15rem 0; }
  @media (max-width: 56.25em) {
    .section-review {
      padding: 10rem 0; } }

.section-contact {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom, #67647d, #272d50); }
  @media (max-width: 56.25em) {
    .section-contact {
      padding: 10rem 4rem; } }
  @media (max-width: 25em) {
    .section-contact {
      padding: 8rem 2rem; } }

.contact {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0) 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4); }
  @media (max-width: 75em) {
    .contact {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 65%, rgba(0, 0, 0, 0) 65%), url(../img/nat-10.jpg); } }
  @media (max-width: 56.25em) {
    .contact {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(../img/nat-10.jpg); } }
  .contact__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .contact__form {
        width: 65%; } }
    @media (max-width: 56.25em) {
      .contact__form {
        width: 100%; } }
