.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: translateZ(0);

    & li {
        position: fixed;
        list-style: none;
        display: block;
        background-color: rgba($color-primary, $alpha: .2);
        bottom: -20rem;
        animation: square 120s infinite;
        transition-timing-function: linear;

        &:nth-child(1) {
            width: 10rem;
            height: 10rem;
            left: 1%
        }

        &:nth-child(2) {
            width: 6rem;
            height: 6rem;
            left: 40%;
            animation-delay: 2s;
            animation-direction: 45s;
        }

        &:nth-child(3) {
            width: 1rem;
            height: 1rem;
            left: 46%;
            animation-delay: 5s;
            animation-direction: 70s;
        }

        &:nth-child(4) {
            width: 8rem;
            height: 8rem;
            left: 80%;
            animation-delay: 1s;
            animation-direction: 50s;
        }

        &:nth-child(5) {
            width: 5rem;
            height: 5rem;
            left: 95%;
            animation-delay: 7s;
            animation-direction: 22s;
        }
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(1080px) rotate(630deg);
        transform: translateY(1080px) rotate(630deg);
    }
}