.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem;
    margin-top: -20vh;
}

.section-features {
    margin-top: -10rem;
    padding: 20rem 0;
    background-image:
    -webkit-linear-gradient(right, rgb(16,16,44), rgb(52,44,92));
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-accent-dark, .8), 
        rgba($color-primary, .8)), 
        url("../img/nat-4.jpg");
    background-size: cover;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 50rem 0;
    margin-top: -11rem; 
}